// heading
.primary-h1-heading {
  font-family: $primary-font;
  font-size: 2.8144rem;
  line-height: 1.1;
  color: $black-color;
  padding-bottom: 0.888rem;
  font-weight: 700;
  width: 100%;
}

@include breakpoint(desktop) {
  .primary-h1-heading {
    font-size: 3.8144rem;
    width: 75%;
  }
}

.primary-heading--orange {
  color: $primary-orange-color;
}

.primary-h2-heading {
  font-family: $primary-font;
  font-size: 1.7rem;
  color: $primary-text-color;
  line-height: 1.407;
}

@include breakpoint(desktop) {
  .primary-h2-heading {
    font-size: 2.441rem;
  }
}

.primary-heading--p {
  padding: 1rem 0;
}

@include breakpoint(desktop) {
  .primary-heading--p {
    padding: 0 0 1rem 0;
  }
}

.primary-h3-heading {
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: 1.953rem;
  font-weight: 700;
}

.primary-h4-heading {
  font-family: $primary-font;
  font-weight: 700;
  color: $primary-text-color;
  font-size: 1.225rem;
  line-height: 1.488;
  padding-bottom: 0.444rem;
}

.primary-h4-heading--orange {
  color: $secondery-orange;
}

.primary-h5-heading {
  font-family: $primary-font;
  font-weight: 700;
  color: $primary-text-color;
  font-size: 1rem;
  line-height: 1.08;
}

@include breakpoint(desktop) {
  .primary-h5-heading {
    font-size: 0.8rem;
  }
}

.primary-h5-heading--not-active {
  display: inline-block;
  border-bottom: 1px solid #999898;
}
.primary-h5-heading--active {
  display: inline-block;
  border-bottom: 3px solid $primary-bg;
}

.primary-box-heading {
  p {
    padding-bottom: 1rem;
  }
}

// paragraph
.default-paragraph-text {
  font-family: $secondery-font;
  font-size: 0.777rem;
  color: $paragraph-text-color;
  padding-bottom: 0.3rem;
}

@include breakpoint(extra-large-desktop) {
  .default-paragraph-text {
    font-size: 1rem;
  }
}

.default-paragraph-text--light-black {
  color: $primary-text-color;
}

.default-paragraph-text--width {
  width: 80%;
}

@include breakpoint(desktop) {
  .default-paragraph-text--width {
    width: 45%;
  }
}

.default-paragraph-text--small {
  font-size: 0.444rem;
}

.default-paragraph-text--p {
  padding-bottom: 2.611rem;
}

@include breakpoint(desktop) {
  .default-paragraph-text--p {
    padding-bottom: 0;
  }
}

.default-paragraph-text--16 {
  font-family: $primary-font;
  font-size: 0.888rem;
  font-weight: 700;
  color: $paragraph-text-color;
}
.default-paragraph-text--orange {
  color: $primary-orange-color;
}

.default-paragraph-text--line-through {
  text-decoration: line-through;
}

.small-text {
  font-family: $primary-font;
  font-size: 0.4444rem;
  font-weight: 500;
  color: $paragraph-text-color;
}

@include breakpoint(extra-large-desktop) {
  .small-text {
    font-size: 0.6666rem;
  }
}
