// colors
$primary-bg: #fafafa;
$secondery-bg: #d7d7d7;

$tertiary-bg: #ffb769;
$primary-orange-color: #ffa039;
$secondery-orange: #ff7800;

$primary-text-color: #2d2d2d;
$paragraph-text-color: #666;

$black-color: #000;
$white: #ffffff;

// fonts
$primary-font: "Comfortaa", sans-serif;
$secondery-font: "Roboto", sans-serif;
