// colors
$primary-bg: #fafafa;
$secondery-bg: #d7d7d7;
$third-bg: #ffb769;

$primary-text-color: #2d2d2d;
$primary-orange-color: #ffa039;
$black-color: #000;
$white: #ffffff;

$secondery-orange: #ff7800;
$paragraph-text-color: #666;

// fonts
$primary-font: "Comfortaa", sans-serif;
$secondery-font: "Roboto", sans-serif;

// $dkGray: #303030;
// $ltGray: #cecece;
