@import "mixins";
@import "variables";
@import "global";
@import "typography";
@import "icons-buttons";
@import "fonts";
@import "header";
@import "footer";

:root {
  font-size: 18px;
  font-family: "Roboto", "Comfortaa", sans-serif;
  color: $primary-text-color;
}

.main {
  position: relative;
  background-color: $primary-bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main__container {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@include breakpoint(desktop) {
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 1rem;
  }
}

.hero__box--left {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  p {
    padding-bottom: 1rem;
  }
}

@include breakpoint(desktop) {
  .hero__box--left {
    align-items: start;
    align-self: start;
    padding: 0;

    p {
      padding-bottom: 1.722rem;
    }
  }
}

.responsive-size {
  width: 217px;
  height: 217px;
}

@include breakpoint(desktop) {
  .responsive-size {
    width: 363px;
    height: 339px;
  }
}
@include breakpoint(extra-large-desktop) {
  .responsive-size {
    width: 570px;
    height: 530px;
  }
}

.hero-container__btns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@include breakpoint(desktop) {
  .hero-container__btns {
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}

@include breakpoint(extra-large-desktop) {
  .hero-container__btns {
    width: 60%;
  }
}

.hero-container__btn-box {
  flex: 1;
  position: relative;
  z-index: 10;
  margin-bottom: 1rem;
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@include breakpoint(desktop) {
  .hero-container__btn-box {
    margin-right: 1rem;
  }
}

.hero-container__btn--orange {
  position: relative;
  z-index: 10;
}

.sign-in__btn {
  span {
    color: $primary-text-color;
  }
}

.sign-in__btn--active {
  span {
    color: $primary-orange-color;
  }
}

.sign-in__btn--border {
  border: 1px solid $primary-orange-color;
}

.hero-container__btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

///////////////////////
// generator section
section.generator {
  background-color: $secondery-bg;
}

.generator-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.generator-container {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2rem;
  order: 5;
}

@include breakpoint(desktop) {
  .generator-container {
    padding-bottom: 4.055rem;
    flex-direction: row;
  }
}

.generator-container--reverse {
  flex-direction: column-reverse;
  order: 1;
}

@include breakpoint(desktop) {
  .generator-container--reverse {
    flex-direction: row-reverse;
  }
}

.generator-container__box {
  flex: 1;
}

.generator-container__box--pr {
  padding-right: 0;
}

@include breakpoint(desktop) {
  .generator-container__box--pr {
    padding-right: 2.777rem;
  }
}
@include breakpoint(extra-large-desktop) {
  .generator-container__box--pr {
    padding-right: 7.777rem;
  }
}

li.generator-container__item {
  display: flex;
  align-items: center;
}

iframe.generator-container__iframe {
  width: 100%;
  height: 205px;
  border-radius: 15px;
}

@include breakpoint(desktop) {
  iframe.generator-container__iframe {
    width: 475px;
    height: 283px;
  }
}
@include breakpoint(extra-large-desktop) {
  iframe.generator-container__iframe {
    width: 660px;
    height: 393px;
  }
}

///////////////
// features
section.features {
  background: rgba($third-bg, 0.1);
  padding: 0 1rem;
}

@include breakpoint(extra-large-desktop) {
  section.features {
    padding: 0;
  }
}

.features-container__list {
  display: flex;
  flex-wrap: wrap;
}

.features-container__item {
  flex: 0 1 100%;
  padding: 0.7rem;
  position: relative;

  p {
    padding-bottom: 2rem;
  }
}

@include breakpoint(desktop) {
  .features-container__item {
    flex: 0 1 30%;

    p {
      padding-bottom: 2rem;
    }
  }
}

.svg-position {
  position: absolute;
  top: -5px;
  left: -5px;
}

//////////////////
// types
.types {
  background-color: #e5e5e5;
  padding: 0 1rem;
}

@include breakpoint(extra-large-desktop) {
  .types {
    padding: 0;
  }
}

.types-container {
  padding: 0 0 11.111rem 0;
}

.types-container__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.777rem;
  justify-content: center;
}

@include breakpoint(desktop) {
  .types-container__list {
    justify-content: flex-start;
  }
}

.types-container__item {
  display: flex;
  position: relative;
  flex: 0 1 60%;
  z-index: 10;
}

@include breakpoint(desktop) {
  .types-container__item {
    flex: 0 1 22.5%;
  }
}
@include breakpoint(extra-large-desktop) {
  .types-container__item {
    flex: 0 1 23%;
  }
}

.types-container__item-copy {
  position: relative;
  padding: 4.944rem 1.6666rem 3.777rem;
  z-index: 10;
  background-color: $white;
  border-radius: 15px;
}

//////////////////
// pricing
.pricing {
  background-color: rgba($secondery-bg, 20%);
}

.pricing-container {
  padding: 0 1rem;
}

@include breakpoint(extra-large-desktop) {
  .pricing-container {
    padding: 0;
  }
}

.pricing-container__plan {
  padding: 0 0 4.611rem 0;

  // scroll
  width: 100%;
  overflow-x: scroll;
}

@include breakpoint(extra-large-desktop) {
  .pricing-container__plan {
    overflow-x: inherit;
  }
}

.pricing-container__btns {
  display: flex;
  padding: 1rem 0 2.277rem;
  gap: 0.5rem;
  justify-content: center;
}

@include breakpoint(desktop) {
  .pricing-container__btns {
    gap: 1rem;
    justify-content: flex-end;
    padding: 0 0 6.277rem;
  }
}

.pricing-container__items {
  display: flex;
  gap: 0.5rem;
  width: 400%;
  overflow-x: scroll;
  position: relative;
  padding: 2rem 0;
}

@include breakpoint(desktop) {
  .pricing-container__items {
    width: 100%;
    overflow-x: hidden;
  }
}

.pricing-container__items-content {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.pricing-container__list {
  position: relative;
  flex: 0 1 100%;

  background: linear-gradient(167.91deg, #ffd6c4 -1.62%, $white 104.93%);
  border-radius: 15px;
}

.pricing-container__list--active-bg {
  position: relative;
  @include primary-gradient-orange-bg;
}

.pricing-container__list--position {
  position: relative;
  z-index: 10;
  padding: 1.5rem 0 2.055rem 2.111rem;
  border-radius: 15px;
}

.btn.pricing-container__most-popular-btn {
  position: absolute;
  width: 50%;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
  @include primary-gradient-orange-bg;
  z-index: 0;
}

@include breakpoint(desktop) {
  .btn.pricing-container__most-popular-btn {
    width: 90%;
  }
}

.pricing-container__item {
  position: relative;
}

.pricing-container__item--pb {
  padding-bottom: 1.5rem;
}

.pricing-container__item-btn {
  position: relative;
}

.pricing-container__btn {
  position: relative;
  z-index: 10;

  display: inline-block;
  width: 80%;
}

.pricing-container__btn--width {
  width: 100%;
}

.pricing-container__btn--not-active {
  color: $black-color;
  background-color: transparent;
}

.pricing-container-item__box {
  position: relative;
  flex: 0 1 15%;
}

////////////
// form section
.main-form {
  height: 100vh;
  background: rgba($primary-orange-color, 10%);
  padding: 0 1rem;
}

.main-form__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.hero__box--hidden-active {
  display: none;
}

@include breakpoint(desktop) {
  .hero__box--hidden-active {
    display: flex;
  }
}

.form__input {
  padding-bottom: 1rem;
}

.input__box {
  width: 100%;
  border: 0;
  padding: 14px 0 15px 17px;
  margin-bottom: 1rem;

  background-color: #fafafa;
  border-radius: 15px;
  border: 1px solid #999898;
}

.form__btn {
  display: inline-block;
  padding-bottom: 1.5rem;
}

.form__btn--width {
  flex: 1;
  position: relative;
  z-index: 10;
  margin-bottom: 1rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.form__checkbox--remember-me {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  .paddnig-l {
    padding-left: 35px;
    display: block;
  }
}
/* Hide the browser's default checkbox */
.form__checkbox--remember-me input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-checked {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
}

.checkmark-box {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 11;
  bottom: 0;
  right: 0;
}

.form__checkbox--remember-me input:checked ~ .checkmark-box {
  fill: transparent;
  display: none;
}

.form-action__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
